{% extends "basis.html" %}
{% block pagetitle %} Home {% endblock %}

{% block pagecontent %}

<h2>About</h2>
<p> The St John's Punt society maintains, manages and uses the fleet of punts stored in the punt pool. These punts are available for hire for all Johnians and staff of the college, for junior members, the cost is &pound;4 an hour per punt (as of March 2013).</p>

<h2> Bailing</h2>

<p>One of the key maintanance duties of the society is to keep the punts clear of water, a process known as bailing. This duty is performed by members of the society and is expected as part of membership (except comittee members). Bailing typically consists of 15-25 minutes in the morning spent clearing the punts of water, although more members leads to a shorter time for everyone. As a member of the society, one recieves perks, such as free punting, use of a kayak, occasional free pizza and college provided desserts each year. If you would like to get involved, please feel free to email sjcpunts-bailers[at]cam[dot]ac[dot]uk</p>
{% endblock %}